h1 {
  text-align:  center;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  color: #696969;
  background-color: transparent;

}
.IN{
  display: flex;
  flex-direction:  row;
  width: 100%;
  justify-content: space-between;
}
.Title{
  border:2px solid #ddd;
  margin-bottom: 30px
  
}
body {
  width: 700px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.container {
  
  width: 700px;
  margin: 0 auto;
}
fieldset {
  
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 40px;
  
 
}
.ghost-input, p {
  display: block;
  border-bottom: 1px solid #ddd;
  font-weight:300;
  width: 100%;
  font-size: 25px;
  border:0px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans,Verdana;
  padding: 0px 0px;
  margin: 5px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  
  
}
.ghost-input:focus {
  border-bottom:1px solid #ddd;
  position: relative;
  -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;

  
}
.ghost-input{
    border-bottom: 1px solid #ddd;
    
}
.ghost-button {
  margin-top: 10px;
  color: #E64A19;
  background-color: transparent;
  border:2px solid #ddd;
  padding:10px 30px;
  width: 100%;
  min-width: 350px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-button:hover {
  border:2px solid #aa002b;
  
  
}
p {
  color: #E64A19;
}
li{
  padding-bottom: 0px;
}

ul
{
  list-style: none;
  padding-top: 5px;
  float:left;
  -webkit-padding-start: 34px;
}
.infotab{
  padding-top: 20px;
  float:left;
  width: 25%;
  padding-left: 39px;
  
}
#ins {
 margin-top:10px;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px 18px 18px 15px;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    line-height: 20px
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: #E64A19;
}
.accordion:after {
    content: "\25BC"; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\25B2"; /* Unicode character for "minus" sign (-) */
}
.Title {
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}